.bannerFull {
    height: calc(100vh - 66px);
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}