.slick-dots li button{
    color: #000;
    font-size: 14px;
}
.slick-dots li button:before{
    display: none;
}
.recentPosts{
    padding: 80px 0;
}
.recentPosts h2{
    padding-bottom: 40px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    position: relative;
    z-index: 11;
}